In [1]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import scale

1) Загрузите выборку Wine по адресу https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data (файл также приложен к этому заданию)

In [2]:
data = pd.read_csv('wine.data', header=None)

In [3]:
data.shape

(178, 14)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

2) Извлеките из данных признаки и классы. Класс записан в первом столбце (три варианта), признаки — в столбцах со второго по последний. Более подробно о сути признаков можно прочитать по адресу https://archive.ics.uci.edu/ml/datasets/Wine (см. также файл wine.names, приложенный к заданию)

In [5]:
X = data.loc[:,1:]
y = data[0]

In [6]:
y.value_counts()

2    71
1    59
3    48
Name: 0, dtype: int64

In [7]:
X.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

3) Оценку качества необходимо провести методом кросс-валидации по 5 блокам (5-fold). Создайте генератор разбиений, который перемешивает выборку перед формированием блоков (shuffle=True). Для воспроизводимости результата, создавайте генератор KFold с фиксированным параметром random_state=42. В качестве меры качества используйте долю верных ответов (accuracy).

In [8]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

4) Найдите точность классификации на кросс-валидации для метода k ближайших соседей (sklearn.neighbors.KNeighborsClassifier), при k от 1 до 50. При каком k получилось оптимальное качество? Чему оно равно (число в интервале от 0 до 1)? Данные результаты и будут ответами на вопросы 1 и 2.

In [48]:
k_neighbors_accuracy = {}

for i in range(1, 51):
    neigh = KNeighborsClassifier(n_neighbors=i)
    score = cross_val_score(neigh, X, y, cv = kf, scoring = 'accuracy')
    k_neighbors_accuracy.update({ i: score.mean() })

best_accuracy = max(k_neighbors_accuracy.values())
best_n = max(k_neighbors_accuracy, key=k_neighbors_accuracy.get)

print(best_n, best_accuracy)

1 0.730476190476

5) Произведите масштабирование признаков с помощью функции sklearn.preprocessing.scale. Снова найдите оптимальное k на кросс-валидации.

In [55]:
X = scale(X)
X[0]

array([ 1.51861254, -0.5622498 ,  0.23205254, -1.16959318,  1.91390522,
        0.80899739,  1.03481896, -0.65956311,  1.22488398,  0.25171685,
        0.36217728,  1.84791957,  1.01300893])

In [61]:
k_neighbors_accuracy_scaled = {}

for i in range(1, 51):
    neigh = KNeighborsClassifier(n_neighbors=i)
    score_scaled = cross_val_score(neigh, X, y, cv=kf, scoring='accuracy')
    k_neighbors_accuracy_scaled[i] = score_scaled.mean()

6) Какое значение k получилось оптимальным после приведения признаков к одному масштабу? Приведите ответы на вопросы 3 и 4. Помогло ли масштабирование признаков?

In [63]:
best_accuracy_scaled = max(k_neighbors_accuracy_scaled.values())
best_n_scaled = max(k_neighbors_accuracy_scaled, key=k_neighbors_accuracy_scaled.get)

print(best_n_scaled, best_accuracy_scaled)

29 0.977619047619

Оптимальное качество достигается при k > 1. Это гораздо более логичный результат, чем до масштабирования.
Результат существенно превосходит качество, полученное без масштабирования признаков.